
@{
    ViewBag.Title = "Signup";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SMARTchat | Log in</title>
    <link rel="stylesheet" href="/Content/style.css" media="screen" type="text/css" />
    <link rel="icon" href="/Content/Images/smart.png" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/Images/smart.png" type="image/x-icon">
    <link rel="stylesheet" href="/Content/font-awesome-4.6.3/css/font-awesome.min.css">
</head>
<body>

    <header align="center">
        <img src="/Content/Images/smart_logo.png" alt="SMARTbusiness">
    </header>
    <div id="login">
        <form action="javascript:void(0);" method="get">
            <fieldset class="clearfix">
                <p><input type="text" placeholder="Name"></p>
                <p><input type="text" placeholder="Middle name"></p>
                <p><input type="text" placeholder="Email"></p>
                <p><input type="text" placeholder="Login"></p>
                <p><input type="password" placeholder="Password"></p>
                <p><input type="submit" value="Sign up"></p>
            </fieldset>
        </form>
        </div>

</body>
</html>